{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome </div>
                <div class="intro-heading"> Lorem ipsum dolor sit.</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
<div style="height: 2000px;"></div>
    <div id="services">
        Bonjour, hola, hello Salam Shalom Bonjourno, bref
        Je m'appelle Rémi Dusigne, né dans les années 90's, j'ai grandi dans le mouvement Hip-Hop, je suis rappeur, danseur et basketteur. Ce sont mes loisirs, professionnelement je suis touche à tout (confère mon CV), et j'essaye de devenir un artiste à part entière. Je touche au mannequinat, à la figuration, bref j'ai à coeur d'utiliser mon corps dans mes activités. Je fais aussi du rap, en groupe ou en solo.
        Je suis ce qu'on appelle un grand enfant, je conçois la vie qu'à travers l'aspect ludique des choses. L'amusement est mon leitmotiv. C'est ce qui me pousse à me lever le matin, à faire des efforts dans tel ou tel domaine.
        Je suis un bon vivant, j'aime les bonnes choses de la vie, un bon plat avec des gens souriants et je suis comblé. J'aime aussi beaucoup voyager, découvrir de nouvelles cultures.
        Je vous laisse découvrir mon univers en naviguant sur le site.
    </div>
{% endblock %}