{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome </div>
                <div class="intro-heading"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
<div style="height: 2000px;"></div>
{% endblock %}