{% extends 'base.html.twig' %}

{% block body %}
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    Novembre 2011 - à Aujourd’hui

    Hôte d’accueil au TNP (théâtre national populaire)

    VILLEURBANNE, FRANCE

    -gestion de deux salles de spectacle (jauge 600 et 200 places)

    - a c c u e i l

    -gestion de groupe

    -travail en équipe (talkie-walkie)

    Juin 2015 - Juillet 2015 :

    Sauveteur dans un centre aquatique, le Spadium

    LANGON, FRANCE

    -vigilance

    -réactivité

    -PSE 1 (secours en équipe)

    Janvier - Juin 2014

    Préparateur de commandes chez l’entreprise PRELODIS

    CHAPONNAY, FRANCE

    -emballage et garnissage des colis

    -contrôle conformité

    -chargement (conduite transpalette à conducteur porté)

    Octobre 2013 - Juin 2013

    Intérimaire chez l’entreprise d’imprimerie ROSSEL

    NIVELLES, BELGIQUE

    -travail à la chaîne

    -émargement de magazines

    Juin 2012 - Août 2012

    Sauveteur dans un centre aquatique Vitam’ Parc

    SAINT JULIEN en GENEVOIS,FRANCE

    Fin Juin - début Août 2010

    Aide monteur pour l’entreprise ARCEL

    CHAMPAGNES au MONT D’OR, FRANCE

    -rapidité d’exécution

    -manipulation des transpalettes

    Eté 2010

    Serveur à la Buvette Saint-Antoine

    LYON, FRANCE

    -compétences techniques et fonctionnelles liées au service

    -garantir la qualité du service rendu

    Juin 2009

    Mannequin bénévole dans un défilé de prêt à porter

    CHAPONOST, FRANCE

    Juillet 2009

    Animateur sportif au sein de l’organisation « DivertiSport »

    auprès d’enfants âgés de 7 à 12 ans.

    -créativité

    -pédagogie

    Eté 2007 et 2008

    serveur à Marrakech Avenue

    HULL CITY, ANGLETERRE

    -pratique de l’anglais
{% endblock %}