{% extends 'base.html.twig' %}

{% block title %}
    Book photo | Remi Dusigne
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/gallery.css') }}"/>
{% endblock %}
{% block body %}
    <section id="photos">
        {% for photo in photos if photo.enabled %}
            <img src="{{ asset('images/book/'~photo.url) }}" >

        {% endfor %}
    </section>
{% endblock %}
{% block javascripts %}
<script rel="test/javascript" src="{{ asset('js/gallery.js') }}"></script>
{% endblock %}